.ConfigEditor {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  .NestingCard {
    padding-right: 0;
    :global(.ant-card-body) {
      padding-right: 0;
    }
  }

  .CustomBox {
    padding: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .SiderActions {
      display: flex;
      justify-content: flex-start;
      padding: 10px 10px;
      .CustomBoxButton {
        margin-right: 10px;
        z-index: 2;
      }
    }

    .CustomBoxContentWrapper {
      overflow: auto;
      width: calc(100% - 8px);
      height: 100%;
    }

    .CustomHandle {
      position: absolute;
      top: 0;
      right: 0;
      width: 8px;
      height: 100%;
      cursor: col-resize;
      z-index: 10;
      background: rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;

      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }

      // TODO: not sure what this is
      &-e {
        right: -5px;
        top: 0;
        bottom: 0;
      }

      &-w {
        left: -5px;
        top: 0;
        bottom: 0;
      }
    }
  }

  .ActionButtons {
    :global(.ant-btn) {
      margin: 0 0 0 10px;
    }
  }

  .HoverableTableCell {
    // border: 1px solid black;
    // width: 100%;

    &:not(th) {
      opacity: 0;
      transition: opacity 0.2s ease !important;
    }
  }

  tr:hover .HoverableTableCell {
    opacity: 1;
  }

  .TreeNodeTitle {
    white-space: nowrap;
  }
}
