.dashboard {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: max(1fr);
  gap: 1rem;
  grid-template-areas:
    'cpu cpu basicInfo networkInfo'
    'ram ram opeatingSystem battery'
    'disk disk none none';

  > div {
    overflow: hidden;
  }

  .basicInfo {
    grid-area: basicInfo;
  }

  .networkInfo {
    grid-area: networkInfo;
  }

  .opeatingSystem {
    grid-area: opeatingSystem;
  }

  .ram {
    grid-area: ram;
  }

  .disk {
    grid-area: disk;
  }

  .battery {
    grid-area: battery;
  }

  .cpu {
    grid-area: cpu;
  }
}
