/* Workaround to make flex with breakpoints work. See: https://github.com/ant-design/ant-design/issues/28961#issuecomment-1712966521 */
.ant-col.ant-col-xs-flex-initial {
  flex: initial;
}
.ant-col.ant-col-xs-flex-auto {
  flex: auto;
}
.ant-col.ant-col-xs-flex-none {
  flex: none;
}
@media (min-width: 576px) {
  .ant-col.ant-col-sm-flex-initial {
    flex: initial;
  }
  .ant-col.ant-col-sm-flex-auto {
    flex: auto;
  }
  .ant-col.ant-col-sm-flex-none {
    flex: none;
  }
}
@media (min-width: 768px) {
  .ant-col.ant-col-md-flex-initial {
    flex: initial;
  }
  .ant-col.ant-col-md-flex-auto {
    flex: auto;
  }
  .ant-col.ant-col-md-flex-none {
    flex: none;
  }
}
@media (min-width: 992px) {
  .ant-col.ant-col-lg-flex-initial {
    flex: initial;
  }
  .ant-col.ant-col-lg-flex-auto {
    flex: auto;
  }
  .ant-col.ant-col-lg-flex-none {
    flex: none !important;
  }
}
@media (min-width: 1200px) {
  .ant-col.ant-col-xl-flex-initial {
    flex: initial;
  }
  .ant-col.ant-col-xl-flex-auto {
    flex: auto;
  }
  .ant-col.ant-col-xl-flex-none {
    flex: none;
  }
}
@media (min-width: 1600px) {
  .ant-col.ant-col-xxl-flex-initial {
    flex: initial;
  }
  .ant-col.ant-col-xxl-flex-auto {
    flex: auto;
  }
  .ant-col.ant-col-xxl-flex-none {
    flex: none;
  }
}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0px !important;
}

.SelectedSegment > .ant-menu-submenu-title {
  background-color: #ebf8ff;
  color: #1976d2;
}

.Content,
.Content > .ant-space-item,
.Content > .ant-space-item > div {
  height: 100%;
}

.reduceLogo .bjs-powered-by svg {
  width: 20px;
}

.small-tabs .ant-tabs-nav-wrap {
  height: 40px;
}

.ant-space .ant-space-item {
  height: 100%;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Hide-Scroll-Bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.Hide-Scroll-Bar::-webkit-scrollbar {
  display: none;
}

.card-selected {
  background-color: #ebf8ff !important;
  border: 1px solid #1976d2 !important;
}

.no-select {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.fit-height {
  height: calc(100vh - 64px - 70px);
}

:where(.css-dev-only-do-not-override-baxwvh).ant-float-btn {
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.15),
    0 3px 6px -4px rgba(0, 0, 0, 0.15),
    0 9px 28px 8px rgba(0, 0, 0, 0.1);
}
