.bpmn-js-modeler-with-toolbar .djs-palette {
  top: 80px;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 0px;
}

/* Dev-Mode CSS Override */
:where(.css-dev-only-do-not-override-1afvvrg).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1afvvrg).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1afvvrg).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-1afvvrg).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0px !important;
}
