.bpmn-js-modeler-with-toolbar .djs-palette {
  top: 80px;
}

/* TODO: Move to module */
.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: 0px !important;
}

.SelectedSegment > .ant-menu-submenu-title {
  background-color: #ebf8ff;
  color: #1976d2;
}
