.WorkspaceSelection {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .WorkspaceButton {
    border: 1px solid black;
    margin: 5px;
    width: 200px;
    height: 120px;
    display: inline-flex; /* Ensure buttons align horizontally */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    border-color: black;
    box-shadow: 2px 2px 2px grey;

    .WorkspaceButtonLabel {
      margin: 5px;
      text-align: center;
    }
  }
}
