.loginForm {
  max-width: 300px;
}

.loginFormForgot {
  float: right;
}

.ant-col-rtl .loginFormForgot {
  float: left;
}

.loginFormButton {
  width: 100%;
}

.Card {
  margin-top: 10vh;
  width: 90vw;
  max-width: 350px;
}
