.Tasklist {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  @media (max-width: 1199px) {
    flex-direction: column;
  }

  .ControlSection {
    display: flex;
    flex-direction: column;

    .MobileHeader {
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5rem;

      .SelectedCardOnMobile {
        flex-grow: 1;

        > :first-child {
          width: 320px;
          margin: auto;
        }
      }
    }

    .UserTaskCardList {
      height: 100%;
      overflow-y: auto;
      padding-right: 0.25rem;
      display: flex;
      flex-direction: column;

      @media (min-width: 1199px) {
        width: 320px;
      }

      .ScrollableSection {
        max-height: calc(100% - 30px);
        flex: 1 1 0;
      }

      .CardList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-content: space-between;
        gap: 10px;
        width: 100%;

        @media (min-width: 601px) and (max-width: 1199px) {
          grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
        }
      }
    }

    .FilterAndSort {
      padding-right: 1.25rem;
      padding-bottom: 0.5rem;

      display: flex;
      justify-content: center;

      :global(.ant-btn) {
        @media (min-width: 1199px) {
          flex-grow: 1;
        }
      }
    }
  }
}

.SortListEntry {
  display: flex;
  align-items: center;

  > span {
    margin-right: 0.25rem;
  }
}
