.TaskView {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    text-align: center;
    color: rgb(70, 70, 70);

    h1 {
      font-size: 28px;
      font-weight: bold;
    }
  }
}

.Completed,
.Paused {
  iframe {
    opacity: 0.25;
    pointer-events: none;
  }
}
