.Zoombar :global {
  .ant-input {
    border: none !important;
    width: 75px;
    background-color: #eeeeee;
    font-size: 0.875rem;
    text-align: center;
  }

  .ant-btn-compact-item {
    border: none !important;
    background-color: #eeeeee;
  }
}
