.BuilderUI {
  height: 100%;
  display: flex;
  flex-direction: column;

  .EditorHeader {
    padding: 5px;
  }
  .EditorBody {
    flex-grow: 1;

    .HtmlEditor {
      display: flex;
      justify-content: center;
    }
  }
}
