.Headerrow {
  margin-bottom: 10px;

  .SelectedRow {
    display: flex;
    flex: 1;
    background-color: #ececec;
    border-radius: 4px;
    margin: 0 4px;
    align-items: center;
    justify-content: center;
  }
}
