.Main {
  height: 100%;

  .Header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-left: -1px;
    padding-left: 21px;

    .Title {
      letter-spacing: 0.2px;
      font-size: 18px;
      color: #5f5f5f;
      font-weight: 300;
    }
  }

  .Content {
    overflow: initial;
    padding: 40px 20px;
    max-width: 100%;
    background-color: white;

    &.compact {
      padding: 0;
    }
  }
}
