.Main {
  // min-height: 40vh !important;
  height: 100%;

  .Header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;

    .Title {
      letter-spacing: 0.2px;
      font-weight: 300;
      margin-bottom: 0;
      display: inline-block;
      margin-left: 20px;
    }

    .Right {
      margin-right: 20px;
      @media screen and (max-width: 415px) {
        display: none;
      }
    }
  }

  .Content {
    overflow: initial;
    padding: 10px 20px;
    max-width: 100%;
    // background-color: white;

    @media screen and (max-width: 550px) {
      padding-left: 0px;
      padding-right: 0px;
    }

    &.compact {
      padding: 0;
    }
  }

  .Footer {
    text-align: center;
    color: #9a9a9a;
    font-weight: 300;
  }
}
