.Main {
  height: 100%;

  .Header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-left: -1px;
    padding-left: 21px;

    .Title {
      letter-spacing: 0.2px;
      font-size: 18px;
      color: #5f5f5f;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    
  }

  .Content {
    overflow-x: initial;
    overflow-y: auto;
    padding: 10px 10px;
    max-width: 100%;
    height: calc(100vh - 150px);

    &.compact {
      padding: 0;
    }
  }

  .Icon {
    margin: 15px -10px;
  }

  .LogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background: #fff;
    border-bottom: 1px solid #eee;
    transition: all 0.2s;

    &.collapsed {
      justify-content: flex-start;
      padding-left: 20px;
    }
  }

  .Hamburger {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
