.MobileTable {
  width: 95dvw;
}

.MobileTitleTruncation {
  max-width: 50dvw;
}

.TabletTitleTruncation {
  max-width: 25dvw;
}

.TitleTruncation {
  max-width: 20dvw;
}

.HoverableTableCell:not(th) {
  opacity: 0;
  transition: opacity 0.2s ease !important;
}

tr:has(.HoverableTableCell):hover .HoverableTableCell {
  opacity: 1;
}
