.MobileTable {
  width: 95dvw;
}

.MobileTitleTruncation {
  max-width: 50dvw;
}

.TabletTitleTruncation {
  max-width: 25dvw;
}

.TitleTruncation {
  max-width: 20dvw;
}

.HoverableTableCell {
  // border: 1px solid black;
  width: 100%;

  &:not(th) {
    opacity: 0;
    transition: opacity 0.2s ease !important;
  }
}

tr:hover .HoverableTableCell {
  opacity: 1;
}

.ActionButton {
  margin-left: 8px;
  // background-color: red;
}
