.Sider {
  overflow: auto;
  height: 100vh;
  position: fixed !important;
  left: 0;
  top: 0;
  bottom: 0;
  //backgroundcolor: 'white';

  .Logo {
    margin: -5px 20px 20px;
    transition: all 0.2s;

    &.collapsed {
      margin: -5px 10px 20px;
      width: 60px;
    }
  }
}

.Main {
  margin-left: 200px;
  transition: margin-left 0.2s;
  flex: auto;
  position: relative;
  /* Need this for the absolute editor page to work in non-parallel route. */
  min-height: 100vh;
  max-width: calc(100vw - 200px);

  &.collapsed {
    margin-left: 80px;
    max-width: calc(100vw - 80px);
  }
}
