.Row {
  margin-bottom: 10px;
  cursor: pointer;

  .Title {
    font-weight: 600;
  }

  .ActionCell {
    display: flex;
    justify-content: center;

    .Action {
      background-color: #ececec;
      border-radius: 100%;
      padding: 4px;
      font-size: 17px;
      transition: background-color 0.2s;
    }

    .Action:hover {
      background-color: #dcdcdc;
    }
  }
}

.Icons {
  //display: inline-flex;
  width: 45%;
  //justify-content: space-around;
  //align-items: center;

  .Icon:hover {
    color: #3e93de;
  }
}

.Icon {
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.2s;
}

.Selectview {
  justify-self: end;
  justify-content: end;
}

.MobileView {
  width: 100dvw;
}
