.Checkbox {
  font-size: 12px;
  // width: 55%;
}

.ClippedProcessTitle {
  display: inline-block;
  vertical-align: bottom;
  width: 470px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
