.Row {
  margin-bottom: 10px;
  cursor: pointer;

  .Title {
    font-weight: 600;
  }

  .ActionCell {
    display: flex;
    justify-content: center;

    .Action {
      background-color: #ececec;
      border-radius: 100%;
      padding: 4px;
      font-size: 17px;
      transition: background-color 0.2s;
    }

    .Action:hover {
      background-color: #dcdcdc;
    }
  }
}

.Headerrow {
  padding: 10px 0;

  .SelectedRow {
    display: flex;
    background-color: #ececec;
    border-radius: 4px;
    padding: 4px;
    align-items: center;
    justify-content: space-around;
  }

  .Headercol {
    padding: 4px;
    display: flex;
  }

  .Icons {
    margin-left: 10px;
    display: inline-flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;

    .Icon {
      margin: 0 5px;
      cursor: pointer;
      transition: color 0.2s;
    }

    .Icon:hover {
      color: #dcdcdc;
    }
  }

  .Selectview {
    justify-self: end;
    justify-content: end;
  }
}
