.registerForm {
  max-width: 100%;
}
// .loginFormForgot {
//   float: right;
// }
// .ant-col-rtl .loginFormForgot {
//   float: left;
// }
.registerFormButton {
  width: 100%;
}

.Card {
  width: 90vw;
}

@media screen and (min-width: 601px) {
  .Card {
    width: 500px;
  }
}
