.SelectedRow {
  background-color: #ececec;
  border-radius: 4px;

  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  gap: 0.5rem;
  padding: 0 1rem 0 1rem;

  &.editable {
    margin: 0 4px;
    margin-left: 10px;
  }
}

.counter {
  margin-right: 0.5rem;
}

.Icons {
  display: inline-flex;
  width: 45%;
  gap: 0.25rem;
  //justify-content: space-around;
  //align-items: center;
}
