.SelectedRow {
  display: flex;
  flex: 1;
  background-color: #ececec;
  border-radius: 4px;
  margin: 0 4px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  width: 160px;
}

.MobileView {
  width: 100dvw;
}
