.Sider {
  .LogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: all 0.2s;

    &.collapsed {
      justify-content: flex-start;
      padding-left: 20px;
    }
  }

  .Logo {
    transition: all 0.2s;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;

    &.collapsed {
      width: 60px;
    }
  }
}

// .SiderNone {
//   display: none;
// }

.Main {
  //margin-left: 200px;
  transition: margin-left 0.2s;
  flex: auto;
  position: relative;
  /* Need this for the absolute editor page to work in non-parallel route. */
  height: 100%;
  width: 100%;
}

.Footer {
  text-align: center;
  color: #9a9a9a;
  background-color: white;
  font-weight: 300;
  padding: 5px;
}
