.wrapper {
  h1 {
    margin-bottom: 1.5rem;
    text-align: left;
    padding-left: 70px;
  }

  :global(.ant-layout-content) {
    background-color: white;
    position: relative;
    z-index: 0;
  }
}

.gridContainer {
  display: grid;
  gap: 1.5rem;
}
